.git
.github
.env*
!.env.example
.venv
__pycache__
*.pyc
data/*
!data/product_catalog.json
frontend/dist
frontend/node_modules
infra/main.json
docs
tests
.pytest_cache
.ruff_cache
*.md
requirements-dev*
*.log
